{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
            <div class="row">
                <div class="cold-md-6" style="float:none; margin: 0 auto;">
                    <form method="POST" enctype="multipart/form-data">
                      <legend class="border-bottom mb-4" style="text-align:center;">{{title}}</legend>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <hr>
                        <input class="btn btn-outline-success btn-block" type="submit" value="Sign In">
                        <a href="{%url 'core:signup' %}" class="btn btn-outline-primary btn-block">Dont Have Account ? Sign Up !</a>
                    </form>
                </div>
        </div>

{% endblock %}